# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

*.DS_Store

# Vim temp/swap files
*~
*.swp
*.swo

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec


# Translations
*.mo
*.pot

*.log

# PyBuilder
target/

# Files/folders used/produced when testing Kindleunpack
HDImages/
mobi7/
mobi8/

*.bak
*.dat
*.data
*.pdf
*.ini
*.json
*.mobi
*.prc
*.azw
*.azw[34]

# Folder to direct output to when testing command-line (will be ignored by git)
testout/
